<% if params[:vendor] == "1" %>
  <% resource.role = "vendor" %>
  <div class="container">
    <div class="row">
      <div class="span12">
        <div class="row">
          <div class="col-md-6">
            <div class="well well_bubble_vendor center">
              <h1 class="lightened">Make fun a bottomline.</h1>
              <p>As a fellow small business, we understand the strain of administrative tasks and financial matters. splickity is simple and affordable. Designed so that you can act “big” even if your business is small. We’re here to streamline marketing, sales, and management of your programs while you build great relationships with families by doing what you do best- delivering (and having) fun!</p>
              <br>
            </div>
          </div>
          <div class="col-md-6">
            <div class="well well_bubble_vendor center">
              <h1 class="lightened">More fun for everyone!</h1>
              <p>This is the credo that we live by. That's why we've set-up the <strong>More Fun Fund</strong>, an activities scholarship where we’ll deposit 1% of revenue to support all kiddos to take part in fee-based activities. So every time you use splickity to share your activities you'll help to lift the cost of participation for families in need of financial assistance. Pretty cool, huh?!</p>
              <p>For more information about the More Fun Fund, contact Blair at blair@splickitykids.com.</p>
              <br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <h2>Now it's time to sign up!</h2>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="form-group">
      <%= f.label :company_name %>
      <%= f.text_field :company_name, autofocus: true, class: "form-control" %>
    </div>

    <!--<div class="form-group">
      <%#= f.label :ein, "EIN" %>
      <%#= f.text_field :ein, class: "form-control" %>
    </div>--> 

    <div class="form-group">
      <%= f.label :website %>
      <%= f.text_field :website, class: "form-control", value: "http://" %>
    </div>    

    <div class="form-group">
      <%= f.label :first_name %>
      <%= f.text_field :first_name, class: "form-control" %>
    </div>
    
    <div class="form-group">
      <%= f.label :last_name %>
      <%= f.text_field :last_name, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :password %>
      <% if @validatable %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %>
      <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
    </div>
    
    <% if params[:vendor] == "1" %>
      <%= f.hidden_field :role %>
    <% end %>

    <div class="alert alert-warning" role="alert">
      <p>We're so glad you’re signing-up to share your activities for kids on splickity! After you sign-up, your business will need to be verified and approved by us before your account is activated. As you know, we’re a small business too, so please plan for up to a 24 hour turnaround on this process.</p>
    </div>

    <div class="form-group">
      <%= recaptcha_tags %>
    </div>

    <div class="form-group">
      <%= f.submit "Sign up", class: "btn btn-primary" %>
    </div>
  <% end %>
<% else %>
  <% resource.role = "registered" %>
  <div class="container">
    <div class="row">
      <div class="span12">
        <div class="row">
          <div class="col-md-6">
            <div class="well well_bubble center">
              <h1 class="lightened">That’s the credo that we live by.</h1>
              <p>By design, splickity enables busy big people like you to easily research and register for the best activities for kids. If you're a significant adult in a kiddo's life you can easily manage all of their activities from one place- splickity. So, now that you have some extra time, go have fun!</p>
              <br>
            </div>
          </div>
          <div class="col-md-6">
            <div class="well well_bubble center">
              <h1 class="lightened">More fun for everyone!</h1>
              <p>The <strong>More Fun Fund</strong> is our activities scholarship where we’ll deposit 1% of revenue to support all kiddos to take part in fee-based activities. So every time you use splickity to register your kid for a fun activity you'll help to lift the cost of participation for another kid in your community.</p>
              <br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <h2>Now it's time to sign up!</h2>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="form-group">
      <%= f.label :first_name %>
      <%= f.text_field :first_name, autofocus: true, class: "form-control" %>
    </div>
    
    <div class="form-group">
      <%= f.label :last_name %>
      <%= f.text_field :last_name, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :password %>
      <% if @validatable %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %>
      <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
    </div>
    
    <% if params[:vendor] == "1" %>
      <%= f.hidden_field :role %>
    <% end %>

    <div class="form-group">
      <%= recaptcha_tags %>
    </div>

    <div class="form-group">
      <%= f.submit "Sign up", class: "btn btn-primary" %>
    </div>
  <% end %>
<% end %>


<%= render "devise/shared/links" %>
