<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-group form-group-lg col-xs-12">
    <div class="form-group col-xs-12">
      <h2><%= current_vendor.company_name %> Account</h2>
      <p class="alert alert-warning" role="alert">Please complete all fields below in order to receive payments for any activities purchased.</p>
    </div>
    <div class="form-group col-xs-12">
      <h3>Company info</h3>
    </div>

    <div class="form-group  col-xs-6">
      <%= f.input :company_name, required: true, autofocus: true, class: "form-control" %>
    </div>

    <div class="form-group col-xs-6">
      <%= f.input :ein, required: true, class: "form-control" %>
    </div>

    <div class="form-group col-xs-12">
      <%= f.input :website, required: true, class: "form-control" %>
    </div>

    <div class="form-group col-xs-12">
      <hr>
      <h3>Primary contact</h3>
    </div>

    <div class="form-group col-xs-6">
      <%= f.input :first_name, required: true %>
    </div>

    <div class="form-group col-xs-6">
      <%= f.input :last_name, required: true %>
    </div>

    <div class="form-group col-xs-12">
      <%= f.input :email, required: true %>
    </div>

    <div class="form-group col-xs-6">
      <%= f.input :ssn, class: "form-control", label: "SSN" %>
    </div>

    <div class="form-group col-xs-2">
      <%= f.input :dob_month, class: "form-control", label: "Date of birth - Month" %>
    </div>

    <div class="form-group col-xs-2">
      <%= f.input :dob_day, class: "form-control", label: "Day" %>
    </div>

    <div class="form-group col-xs-2">
      <%= f.input :dob_year, class: "form-control", label: "Year" %>
    </div>

    <div class="form-group col-xs-12">
      <%= label_tag "Verification file (JPG or PNG): a driver's license or equivalent " %>
      <%= f.file_field :verification_file, class: "form-control" %>
    </div>

    <div class="form-group col-xs-6">
      <%= image_tag current_vendor.verification_file %>
    </div>

    <div class="form-group col-xs-12">
      <hr>
      <h3>Bank info</h3>
    </div>

    <div class="form-group col-xs-6">
      <%= f.input :routing_number, class: "form-control" %>
    </div>

    <div class="form-group col-xs-6">
      <%= f.input :account_number, class: "form-control" %>
    </div>

    <div class="form-group col-xs-12">
      <hr>
      <h3>Connected Stripe Account</h3>
    </div>

    <div class="form-group col-xs-12">
      <% if current_vendor.uid.blank? %>
        <p>You currenty doesnt have Stripe connected account</p>
        <p>Please click the button bellow and follow the instructions</p>
        <p><%= link_to image_tag("stripe.png"), vendor_omniauth_authorize_path(:stripe_connect) %></p>
      <% else %>
        <%= current_vendor.uid %>
      <% end %>
    </div>
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    <div class="form-group col-xs-12">
      <hr>
      <h3>Change password</h3>
    </div>

    <div class="form-group col-xs-6">
      <%= f.input :password, autocomplete: "off", placeholder: "leave it blank if you don't want to change it", required: false %>
    </div>

    <div class="form-group col-xs-6">
      <%= f.input :password_confirmation, placeholder: "leave it blank if you don't want to change it", required: false %>
    </div>

    <div class="form-group col-xs-12">
      <hr>
      <h3>Save changes</h3>
    </div>

    <div class="form-group col-xs-12">
      <%= f.input :current_password, hint: "we need your current password to confirm your changes", required: true %>

      <div class="form-actions">
        <%= f.button :submit, "Update", class: "btn btn-primary"  %>
        <%= link_to "Back", :back, class: "btn btn-danger" %>
      </div>
    </div>
<% end %>

  <div class="form-group col-xs-12">
    <hr>
    <h3>Cancel my account</h3>

    <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
   </div>
</div>
