<div class="center">
  <h2>Your sales history</h2>
</div>

<table class="table table-striped table-bordered">
  <tr>
    <th class='center'>Image</th>
    <th class='center'>Activity</th>
    <th class='center'>Kids</th>
    <th class='center'>Amount to Seller</th>
    <th class='center'>Amount to Splickitykids</th>
    <th class='center'>Price</th>
    <th class='center'>Customer</th>
    <th class='center'>Date Sold</th>
  </tr>

<% @orders.each do |order| %>
  <tr>
  	<% payment = Payment.where(:order_id => order.id).first %>
  	<% payment = Payment.where(:temp_order_id => order.id).first if payment.blank? %>
    <td class='center'><%= image_tag order.activity.image.url(:thumb) %></td>
    <td class='center'><%= order.activity.name %></td>
    <td class='center'><%= order.kids.pluck(:first_name).join(', ') %></td>
    <td class='center'><%= number_to_currency(payment.seller_amount) %></td>
    <td class='center'><%= number_to_currency(payment.splickitykids_amount) %></td>
    <td class='center'><%= number_to_currency(order.activity.price) %></td>    
    <td class='center'><%= order.try(:buyer) ? order.buyer.full_name : order.order.buyer.full_name %></td>
    <td class='center'><%= order.created_at.strftime("%B %-d, %Y") %></td>
  </tr>
<% end %>
</table>


<% if user_signed_in? %>
  <%= link_to 'New Activity', new_activity_path, class: "btn btn-primary" %>
<% end %>