<h1>Add To Cart</h1>

<div class="row">
	<p>
		<strong>Activity name:</strong>
		<%= @activity.name %>
	</p>

	

	<%= form_tag add_carts_path do %>
		<div class="form-group form-group-lg">
			<strong>Family members:</strong>
			<% if(["no", "never"].include? @activity.repeats) %>
			  <%= select_tag "kid_ids", options_from_collection_for_select(current_user.kids, 'id', 'name',@carts.where(activity_id: params[:activity_id]).map{ |j| j.kid_id }), prompt: 'Please select', :multiple => true, class: "form-control" %>
			<% else %>
			  <%= select_tag "kid_ids", options_from_collection_for_select(current_user.kids, 'id', 'name',@carts.where(activity_id: params[:activity_id]).map{ |j| j.kid_id }), prompt: 'Please select', class: "form-control" %>
			<% end %>
			<p>* Hold shift to select multiple kids</p>
		</div>
</div>
<hr>
<div class="row">
	<%= hidden_field_tag "activity_id", params[:activity_id] %>
	<div class="actions">
	  <% str = (["no", "never"].include? @activity.repeats) ? 'Add' : 'Add' %>
		<%= submit_tag str, class: "btn btn-lg btn-primary"%>
	</div>
</div>
<% end %>
