<h1>Edit Cart</h1>

<p>
	<strong>Activity name:</strong>
	<%= @activity.name %>
</p>

<%= form_tag cart_path, :method=>'put' do %>
	<div class="row">
		<div class="form-group form-group-lg">
			<strong>Kids:</strong>
			<%= select_tag "kid_ids", options_from_collection_for_select(Kid.where(:user_id=>current_user.id), 'id', 'first_name',@temp_order.kids.map{ |j| j.id }), :multiple => true, class: "form-control" %>
		</div>
	</div>
<hr>
<div class="row">
	<%= hidden_field_tag "id", params[:id] %>
	<%= hidden_field_tag "activity_id", @activity.id %>
	<%= hidden_field_tag "temp_order_id", @temp_order.id %>
	<div class="actions">
		<%= submit_tag "Update", class: "btn btn-lg btn-primary"%>
	</div>
</div>

<% end %>
