  <%= form_for(@activity, html: {novalidate: 'novalidate'}) do |f| %>
    <div class="row">
      <div class="form-group form-group-lg col-xs-6">
        <div class="form-group  col-xs-12">
          <%= f.label :name %>
          <%= f.text_field :name, autofocus: true, class: "form-control" %>
        </div>

        <div class="form-group  col-xs-12">
          <%= f.label :description %>
          <%= f.text_area :description, rows: 5, class: "form-control" %>
        </div>    

        <div class="form-group col-xs-6">
          <%= f.label :price %>
          <%= f.number_field :price, class: "form-control" %>
        </div>
        
        <div class="form-group col-xs-6">
          <%= f.label :spots %>
          <%= f.number_field :spots, class: "form-control" %>
        </div>

        <div class="form-group col-xs-12">
          <%= f.label :address %>
          <%= f.text_field :address, class: "form-control" %>
        </div>

        <div class="form-group col-xs-12">
          <%= f.label :city %>
          <%= f.text_field :city, class: "form-control" %>
        </div>

        <div class="form-group col-xs-4">
          <%= f.label :state %>
          <%= f.select :state, options_for_select(us_states), {}, class: "form-control" %>
        </div>

        <div class="form-group col-xs-4">
          <%= f.label :zip_code %>
          <%= f.text_field :zip_code, class: "form-control" %>
        </div>

        <div class="form-group col-xs-4">
          <%= f.label :category %>
          <%= f.select :category, options_for_select(categories), {}, class: "form-control" %>
        </div>
        
        <div class="form-group col-xs-12">
          <%= f.label :image %>
          <%= f.file_field :image, class: "form-control" %>
        </div>

        <div class="form-group col-xs-6">
          <%= f.submit "Sign up", class: "btn btn-primary" %>
          <%= link_to 'Back', activities_path, class: "btn btn-info" %>
        </div>
      </div>
      <div class="form-group form-group-lg col-xs-6">
        <div class="form-group col-xs-7">
          <%=f.label "Starts" %>
          <%= f.date_select :from_date %>
        </div>
        <div class="form-group col-xs-5">
           <strong>at</strong> 
          <%= f.time_select :from_time, {:minute_step => 15}, class: "form-control" %>
        </div>
        <div class="form-group col-xs-7">
          <%=f.label "Ends" %>
          <%= f.date_select :to_date %>
        </div>
        <div class="form-group col-xs-5">
          <strong>at</strong> 
          <%= f.time_select :to_time, {:minute_step => 15}, class: "form-control" %>
        </div>
        <div class="form-group col-xs-12">
          <%= f.label "Time zone" %>
          <%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones, {}, :default => "Central Time (US & Canada)", class: "form-control" %>
        </div>

        <div class="form-group  col-xs-6">
          <%=f.label "Repeats?" %>
          <%= f.select :repeats, Activity::RepeatsOptions, {}, class: "form-control" %>
          <%= render partial: 'repeats_daily_options', locals: {f: f} %>
          <%= render partial: 'repeats_weekly_options', locals: {f: f} %>
          <%= render partial: 'repeats_monthly_options', locals: {f: f} %>
          <%= render partial: 'repeats_yearly_options', locals: {f: f} %>
        <div class="activity_option" id="repeats_options">
          <%= f.label "Repeat ends?" %>
          <%= f.select :repeat_ends, Activity::RepeatEndsOptions %>
        <div id="activity_repeat_ends_on">
          <%= f.date_select :repeat_ends_on, {}, {style: 'width:auto;'} %>
        </div>
      </div>
        </div>
    </div>
  <% end %>

    