<% is_disable = Activity::STRIPE_INTERVAL.include?(@activity.repeats) %>
  <%= simple_form_for(@activity, html: {novalidate: 'novalidate'}) do |f| %>
    <div class="row">
      <%= f.error_notification %>
      <div class="form-group form-group-lg col-xs-6">
        <div class="form-group  col-xs-12">
          <%= f.input :name, autofocus: true, class: "form-control" %>
        </div>

        <div class="form-group  col-xs-12">
          <%= f.input :description, rows: 5, class: "form-control" %>
        </div>    

        <div class="form-group col-xs-6">
          <%= f.input :price, class: "form-control", readonly: is_disable %>
        </div>
        
        <div class="form-group col-xs-6">
          <%= f.input :spots, class: "form-control" %>
        </div>

        <div class="form-group col-xs-12">
          <%= f.input :address, class: "form-control" %>
        </div>

        <div class="form-group col-xs-12">
          <%= f.input :city, class: "form-control" %>
        </div>

        <div class="form-group col-xs-4">
          <%= f.input :state, collection: (us_states), class: "form-control" %>
        </div>

        <div class="form-group col-xs-4">
          <%= f.input :zip_code, class: "form-control" %>
        </div>

        <div class="form-group col-xs-4">
          <%= f.input :category, collection: (categories), class: "form-control" %>
        </div>
        
        <div class="form-group col-xs-12">
          <%= f.label "Activity photo" %>
          <%= f.file_field :image, class: "form-control" %>
        </div>

        <div class="form-group col-xs-6">
          <%= f.button :submit, label: "Create activity", class: "btn btn-primary" %>
          <%= link_to 'Cancel', activities_path, class: "btn btn-danger" %>
        </div>
      </div>
      <div class="form-group form-group-lg col-xs-6">
        <div class="form-group col-xs-7">
          <%= f.input :from_date, as: :date, label: "Starts" %>
        </div>
        <div class="form-group col-xs-5">
          <%= f.input :from_time, as: :time, class: "form-control", label: "at" %>
        </div>
        <div class="form-group col-xs-7">
          <%= f.input :to_date, as: :date, label: "Ends" %>
        </div>
        <div class="form-group col-xs-5">
          <%= f.input :to_time, as: :time, class: "form-control", label: "at" %>
        </div>
        <div class="form-group col-xs-12">
          <%= f.input :time_zone, as: :time_zone, label: "Time zone", :default => "Central Time (US & Canada)", class: "form-control" %>
        </div>

        <div class="form-group  col-xs-6">
          <%=f.label "Repeats?" %>
          <%= f.select :repeats, Activity::RepeatsOptions, {}, class: "form-control", :disabled => true  %>
          <%= render partial: 'repeats_daily_options', locals: {f: f} %>
          <%= render partial: 'repeats_weekly_options', locals: {f: f} %>
          <%= render partial: 'repeats_monthly_options', locals: {f: f} %>
          <%= render partial: 'repeats_yearly_options', locals: {f: f} %>
        <div class="activity_option" id="repeats_options">
          
          <%#= f.select :repeat_ends, Activity::RepeatEndsOptions %>
        <div id="activity_repeat_ends_on">
          <%= f.label "Repeat ends" %>
          <%= f.date_select :repeat_ends_on, {}, {style: 'width:auto;'} %>
        </div>
      </div>
        </div>
    </div>
  <% end %>

    
