
	<div class="center">
		<div class="row">
		  <% @activities.each do |activity| %>
		  	<div class="col-md-3">
			  <div class="thumbnail">
			    <%= link_to image_tag(activity.image.url(:medium)), activity %>
				<div class="caption">
				  <h3><%= activity.name %></h3>
				  <p><%= activity.start_date %></p>
				  <% if activity.price > 0 %>
				  	<p><%= number_to_currency(activity.price) %></p>
				  <% else %>
				  	<p>Free</p>
				  <% end %>
				  <p><%= "#{activity.user.company_name}" %></p> 
				</div>
			  </div>
			</div>
		  <% end %>
		</div>
	</div>

