<div class="row">
  <div class="col-md-6">
    <div class="thumbnail">
      <%= image_tag @activity.image.url %>
    </div>
  </div>
  <div class="col-md-6">
    <h3><%= @activity.name %></h3>
    <p><strong>Category: </strong><%= @activity.category %></p>
	  <p><strong>Start date: </strong><%= @activity.start_date %> <%= @activity.start_time %></p>
	  <p><strong>End date: </strong><%= @activity.end_date %> <%= @activity.end_time %></p>
    <p><%= number_to_currency(@activity.price) %></p>
    <p><%= @activity.description %></p>
    <br>

    <div class="center">
      <%= link_to 'Add to Cart', add_to_cart_carts_path(:activity_id=>@activity.id), class: 'btn btn-primary', data: { no_turbolink: true } %>	
      <%#= link_to 'Register', new_activity_order_path(@activity), class: 'btn btn-primary', data: { no_turbolink: true } %>
    </div>
  </div>
</div>

<% if current_user == @activity.user %>
  <%= link_to 'Edit', edit_activity_path(@activity), class: "btn btn-primary" %> |
<% end %>
<%= link_to 'Back', activities_path, class: "btn btn-info" %>

