<script type="text/javascript">
    $(document).ready(function() { 
        $('#startsat').moment().format("MMMM Do YYYY, h:mm A");
    });
</script>

<div class="row">
  <div class="col-md-6">
    <h3><%= @activity.name %></h3>
    <p><%= @activity.address %><br/><%= @activity.city %>, <%= @activity.state %> <%= @activity.zip_code %></p>
    <% if @activity.from_date == @activity.to_date %>
      <p><%= @activity.from_date.strftime("%A, %B %d, %Y") %><%= @activity.from_time.strftime(" from %l:%M %p") %><%= @activity.to_time.strftime(" to %l:%M %p") %><br/><%= @activity.time_zone %></p>
    <% else %>
      <p><%= @activity.from_date.strftime("%A, %B %d, %Y") %><%= @activity.from_time.strftime(" from %l:%M %p") %> to<br/><%= @activity.to_date.strftime("%A, %B %d, %Y") %><%= @activity.to_time.strftime(" at %l:%M %p") %><br/><%= @activity.time_zone %></p>  
    <% end %> 
    <% if @activity.repeats == 'daily' %>
      <p>Takes place daily through <%= @activity.repeat_ends_on.strftime("%B %d, %Y") %></p>
    <% elsif @activity.repeats == 'weekly' %>
      <p>Takes place every <%= @activity.repeats_weekly_each_days_of_the_week.join(", ").titleize %> through <%= @activity.repeat_ends_on.strftime("%B %d, %Y") %></p>
    <% elsif @activity.repeats == 'monthly' %>
      <p>Takes place each month through <%= @activity.repeat_ends_on.strftime("%B %d, %Y") %></p>
    <% elsif @activity.repeats == 'yearly' %>
      <p>Takes place every <%= @activity.repeats_yearly_each_months_of_the_year.join(", ").titleize %> through <%= @activity.repeat_ends_on.strftime("%B, %Y") %></p>
    <% end %>
    <br>

    
      <% if current_vendor == @activity.vendor %>
        <%= link_to 'Edit activity', edit_activity_path(@activity), class: "btn btn-success" %> | <%= link_to 'Back', activities_path, class: "btn btn-info" %>
      <% else %>
        <% str = (["no", "never"].include? @activity.repeats) ? 'Add to Cart' : 'Add to Cart' %>
          <%= link_to str, add_to_cart_carts_path(:activity_id=>@activity.id), class: 'btn btn-success', data: { no_turbolink: true } %> | <%= link_to 'Back', activities_path, class: "btn btn-info" %>
      <% end %>     
      <%#= link_to 'Register', new_activity_order_path(@activity), class: 'btn btn-primary', data: { no_turbolink: true } %>
  </div>
  <div class="col-md-3">
    <h3 class="center">Activity Details</h3>
    <div class="thumbnail">
      <%= image_tag @activity.image.url %>
    </div>
  </div>
  <div class="col-md-6">
    <p><strong>Price: </strong><% if @activity.price > 0 %>
                                  <p><%= number_to_currency(@activity.price) %></p>
                               <% else %>
                                  <p>Free</p>
                                <% end %>
    <p><strong>Category: </strong><%= @activity.category %></p>
    <p><%= @activity.description %></p>
  </div>
</div>




