<!DOCTYPE html>
<html>
<head>
  <title>Splickitykids</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw= sha512-nNo+yCHEyn0smMxSswnf/OnX6/KwJuZTlNZBjauKhTK0c+zT+q5JOCx0UFhXQ6rJR9jg6Es8gPuD2uZcYDLqSw==" crossorigin="anonymous">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "https://js.stripe.com/v2/" %>
  <%= csrf_meta_tags %>
  <%= tag :meta, :name => "stripe-key", :content => ENV["STRIPE_PUBLISHABLE_KEY"] %>
</head>
<body>

<%= render 'layouts/header' %>
<% if current_page?(root_path) %>
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="well col-md-5 center">
        <h1>Activities for kids</h1>
        <br>
        <form class="form-group form-group-lg" action="/search">
          <%= form_for search_path, method: 'get' do %>
            <div class="form-group form-group-lg">
              <%= text_field_tag(:q, params[:q], class: "form-control", placeholder: "Search by activity or zip code") %>
            </div>
            <div class="form-group form-group-lg">
              <%= submit_tag('Search', class: 'btn btn-success') %>
            </div>
          <% end %>
        </form>
      </div>
    </div>
  </div>
</div>
<% end %>

<div class="container">
  <% flash.each do |name, msg| %>
    <% if msg.is_a?(String) %>
      <div class="alert alert-<%= name.to_s == "notice" ? "success" : "danger" %> alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      </div>
    <% end %>
  <% end %>
  
  <%= yield %>

  
</div>

<%= render 'layouts/footer' %>

</body>
</html>
